
.body {
    font-family: flamaBasic;
}
.center {
    margin: auto;
    width: 30%;
    border: 3px solid #009de0;
    padding: 5%;
    margin-top: 1%;
  }

  .bold {
      font-weight: bold;
  }

  .img-logo {
    width: 255px;
    height: 45px;
    padding-bottom: 10px
  }

  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .globalOne {background-color: #009de0;} 

  .input-text {
    color: #526065;
    margin-top: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 40%;
    padding: 5px;
    border: 1px solid #d8dcdf;
    height: 32px;
    border-radius: 0;
    box-shadow: none;
}